{% extends "blog/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="text-center">
  <h1>Welcome To My {{ title }}</h1><br>
  <p>This page will soon show a list of blog posts.</p>
</div>

<div class="row">
  {% for post in page_obj %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content|truncatewords:20 }}</p>
          <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}
</div>

<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item disabled"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
<hr>
<h5>Categories</h5>
<ul class="list-unstyled">
  {% for category in categories %}
    <li><a href="{% url 'category_posts' category.slug %}">{{ category.name }}</a> ({{ category.posts.count }})</li>
  {% endfor %}
</ul>
{% endblock %}